/**
 *
 * You can write your CSS code here, DO NOT touch the default JavaScript file
 * because it will make it harder for you to update.
 * 
 */

/*# sourceMappingURL=custom.css.map */
.headbar {
    z-index: 1;
    overflow: hidden;
    background-color: #16325F;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2vh;
}

.headbar p {
    color: white;
    text-align: center;
    margin: 0;
}

.container {
    padding-top: 10vh;
    z-index: 0;
}

.card-body {
    padding-top: 0 !important;
}

.btn {
    padding: 1.7vh 0 !important;
    background-color: #57AFE4;
    border-color: #6ab6e6;
}

.btn:hover {
    background-color: #4586ad !important;
}

.form-control {
    height: 50px !important;
}

h4 {
    color: black !important;
}

select:required:invalid {
    color: gray;
}

@media (min-width: 992px) {
    .container {
        padding-top: 12vh;
        padding-left: 8vw;
        padding-right: 8vw;
    }
}